* {
	margin: 0;
	box-sizing: content-box;
}

body {	
	display: flex;
	flex-direction: column;
	background-color: hsl(0, 0%, 8%);
	overflow-x: hidden;
	font-family: "Inter", sans-serif;
  	font-optical-sizing: auto;
  	font-style: normal;
  	font-variation-settings: "slnt" 0;
	min-height: 100vh;	
  }

.profile-container {
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: center;
	background-color: hsl(0, 0%, 12%);
	width: 80vw;
	height: auto;
	padding: 20px 20px;
	margin:30vh auto;
	border-radius: 20px;
}

img {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin-bottom: 20px;
}

h1, li, p {
	color: hsl(0, 0%, 100%);
	padding: 15px;
}

h1 {
	font-weight: 500;
}

p {
	font-size: 1.1em;
	margin-bottom: 10px;
}

li {
	font-size: 14px;
}

h2 {
	color: hsl(75, 94%, 57%);
	font-size: 1.1em;
	margin-bottom: 25px;
}

ul {
	padding: 0;
}

li {
		display: flex;
	flex-direction: column;
	align-items: center;
	list-style-type: none;
	background-color: hsl(0, 0%, 20%);
	width: 70vw;
	height: 30px;
	margin: 20px auto;
	border-radius: 10px;
	font-weight: bolder;
	justify-content: center;
	align-content: center;
	padding-top: 10px;
}

li:hover {
	background-color: hsl(75, 94%, 57%);
	color: hsl(0, 0%, 8%);
	cursor: pointer;
}

.attribution {
	color: #fff;
	text-align: center;
	margin-bottom: 15px;
}

.attribution a {
	text-decoration: none;
	color: hsl(75, 94%, 57%);
}

@media screen and (min-width: 968px) {
	.profile-container {
		width: 450px;
		margin: 80px auto;
	}

	h1, h2 {
		padding: 0;
		margin-bottom: 10px;
	}
	 
	p {
		margin: 10px 0;
	}

	img {
		margin-top: 30px;
	}

	li {
		width: 380px;
		height: 30px;
	}



}