* {
	box-sizing: border-box;
	margin: 0;
}

:root {	
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);
	--very-dark-blue: hsl(234, 12%, 34%);
	--grayish-blue: hsl(229, 6%, 66%);
	--very-light-gray: hsl(0, 0%, 98%);
}

body {
	background-color: var(--very-light-gray);
	display: grid;
	width: 100vw;
	min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  justify-content: center;
}

.container {
	padding: 40px;
}

.container h1, .container > p {
	text-align: center;
}

h1, p {
	color: var(--grayish-blue);
}

.container h1 {
	font-weight: normal;
}

.container h1 span {
	font-weight: bolder;
	color: var(--very-dark-blue);
}

.container p {
	margin: 20px 0 40px;
	line-height: 1.7;
}

.card {
	display: flex;
	flex-direction: column;
	width: 80vw;
	height: auto;
	background-color: #fff;
	margin-bottom: 30px;
	padding: 30px; 
	border-radius: 10px;
	box-shadow: 2px 10px 20px #ddd;
}

.card img {
	align-self: flex-end;
}

.one {
	border-top: 5px solid var(--cyan);
}

.two {
	border-top: 5px solid var(--red);
}

.card h2 {
	color: var(--very-dark-blue)
}

.three {
	border-top: 5px solid var(--orange);
} 

.four {
	border-top: 5px solid var(--blue);
}

.card p {
line-height: 1.7;
}

@media screen and (min-width: 768px) {
	.cards {
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
		
	}

	.card {
		width: 48%;
		padding: 30px;
	}
}

@media screen and (min-width: 1250px) {
	body {
		width: 100%;
	}

	.cards {
		display: grid;
		width: 90vw;
		min-height: 100vh;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: repeat(2, 1fr);
	}

	.card {
		width: 380px;
		height: 300px;
	}

	.one {
		grid-column: 1/2;
		grid-row: 1/3;
		align-self: center;
	}

	.two, .three {
		grid-column: 2 / 3;
	}
	
	.four {
		grid-column: 3 / 4;
		grid-row: 1/3;
		align-self: center;
	}
	
}